/* Menu */

.menu {
    background-color:#2e364a;
    color: #fff2dd;
    width: 80%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 25px;
    border: 3px solid #fff2dd;
}

a {
    color: #fff2dd;
}

body {
    background-color: #2e364a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: x-large;
}

/* ----------------------------------- */

img {
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

p {
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #fff2dd;
}

h3 {
    margin: 20px;
}

.container {
    margin: auto;
    width: 80%;
}

.paragrafos {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 570px;
    /* border: 5px solid #c6c39a; */
    background-color: #fff2dd;
    color: #2e364a;

    overflow-y: scroll;
}

::-webkit-scrollbar {
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e364a;
    border-radius: 20px;
    border: solid #fff2dd;
}

/* Tamanho das imagens */

.img-1 {
    height: 300px;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img-1-div {
    display: flex;
    justify-content: center;
}

.img-2 {
    height: 200px;
    float: right;

    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.img-3 {
    height: 310px;
    float: left;

    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.img-4 {
    height: 210px;
    float: right;

    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.img-5 {
    height: 400px;
    float: left;

    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.video-do-salto {
    float: right;
    width: 200px; 
    height: 170px;

    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.img-6 {
    height: 150px;
    float: left;

    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.curta-metragem {
    float: left;
    width: 560px; 
    height: 315px;

    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}