/* Menu */

.menu {
    background-color:#2e364a;
    color: #fff2dd;
    width: 80%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 25px;
    border: 3px solid #fff2dd;
}

a {
    color: #fff2dd;
}

body {
    background-color: #2e364a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: x-large;
}

h2 {
    color: #fff2dd;
}

p {
    color: #fff2dd;
}

.square-about {
    width: 80%;
    text-align: justify;
}

h3 {
    margin: 20px;
}